@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
/* reset settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

/* FONTS */
html {
  height: 100%;
  background-color: #f5f5f5;
}

/* HEADER-WRAPPER */
.header__wrapper {
  position: relative;
  max-width: 1920px;
  height: 1200px;
  border: 1xp solid red;
  border-radius: 0% 10% 64% 35%/0% 0% 15% 30%;
  background: linear-gradient(108.21deg, #2272FF 0%, #0D03C3 97.89%);
  /* NAVBAR */
  /* TXT-CONTAINER1 */
  /* TEXT-CONTAINER2 */
  /* INPUT-CONTAINER */
  /* IMG-CONTAINER */
  /* COMPANIES-CONTAINER */
}
.header__wrapper header {
  position: absolute;
  top: 25px;
  left: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.header__wrapper header a {
  color: white;
}
.header__wrapper header a:hover {
  cursor: pointer;
}
.header__wrapper header .logo {
  font-size: 18px;
  font-weight: 600;
}
.header__wrapper header nav li {
  display: inline-block;
  margin: 43px;
  font-size: 16px;
  font-weight: 400;
}
.header__wrapper header .sgn__btn button {
  padding: 8px 30px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  transition: ease 0.2s;
}
.header__wrapper header .sgn__btn button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  background-color: white;
}
.header__wrapper header .sgn__btn button:active {
  transform: translateY(3px);
}
.header__wrapper .txt_container1 {
  position: absolute;
  top: 220px;
  left: 13%;
  right: 13%;
  text-align: center;
}
.header__wrapper .txt_container1 h1 {
  line-height: 80px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-size: 72px;
  font-weight: 800;
  color: white;
}
.header__wrapper .txt_container2 {
  position: absolute;
  top: 470px;
  left: 35%;
  right: 35%;
  text-align: center;
}
.header__wrapper .txt_container2 p {
  line-height: 30px;
  letter-spacing: 0.03em;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.header__wrapper .input_container {
  position: absolute;
  top: 615px;
  left: 35%;
  right: 35%;
  height: 65px;
}
.header__wrapper .input_container input {
  width: 100%;
  padding: 25px 70px;
  outline: none;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
.header__wrapper .input_container i {
  position: absolute;
  min-width: 50px;
  top: 22px;
  left: 22px;
}
.header__wrapper .input_container button {
  position: absolute;
  top: 6px;
  right: 8px;
  border-radius: 50px;
  border: none;
  padding: 17px 30px;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  color: white;
  transition: ease 0.3s;
}
.header__wrapper .input_container button:hover {
  transform: scale(0.97);
  cursor: pointer;
}
.header__wrapper .img_container {
  position: absolute;
  top: 800px;
  left: 10%;
  right: 10%;
}
.header__wrapper .img_container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.header__wrapper .companies_container {
  position: absolute;
  top: 1900px;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__wrapper .companies_container img {
  height: 50px;
}

#product {
  position: absolute;
  top: 2100px;
  left: 15%;
  right: 15%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-rows: 1fr 3fr;
}
#product h1 {
  grid-area: 1/2/2/5;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
#product .left_container, #product .center_container, #product .right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  line-height: 30px;
  background: #FFFFFF;
  color: rgb(0, 0, 0);
  transition: linear 0.2s;
}
#product .left_container:hover, #product .center_container:hover, #product .right_container:hover {
  cursor: pointer;
  transform: scale(1.03);
}
#product .left_container h3, #product .center_container h3, #product .right_container h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
#product .left_container p, #product .center_container p, #product .right_container p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
#product .left_container a, #product .center_container a, #product .right_container a {
  padding: 10px 20px;
  margin: 0 120px;
  border-radius: 50px;
  transition: ease 0.7s;
  font-size: 16px;
  font-weight: 600;
  color: #0F0BC7;
}
#product .left_container a:hover, #product .center_container a:hover, #product .right_container a:hover {
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  color: white;
}
#product .left_container img, #product .center_container img, #product .right_container img {
  margin: 0 0 20px 0;
}
#product .left_container {
  grid-area: 2/1/3/2;
}
#product .center_container {
  grid-area: 2/3/3/4;
}
#product .right_container {
  grid-area: 2/5/3/6;
}

#solution {
  position: absolute;
  top: 2850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  background-color: #F6F5FF;
}
#solution .left_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 530px;
}
#solution .left_container h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
#solution .left_container p {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
#solution .left_container a button {
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  transition: ease 0.3s;
}
#solution .left_container a button:hover {
  transform: scale(0.97);
  cursor: pointer;
}
#solution .photo img {
  contain: content;
}

#customer {
  position: absolute;
  top: 3750px;
  width: 100%;
  padding: 5% 15%;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
}
#customer .upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5% 0;
}
#customer .upper_container h1 {
  width: 820px;
  float: left;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
#customer .upper_container button {
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #0F0BC7;
  transition: ease 0.3s;
}
#customer .upper_container button:hover {
  background-color: white;
  transform: scale(0.97);
  cursor: pointer;
}
#customer .lower_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#customer .lower_container .lower_left_container {
  display: flex;
  flex-direction: column;
}
#customer .lower_container .lower_left_container .row {
  display: flex;
  margin: 20px 0;
  align-items: center;
  width: 500px;
}
#customer .lower_container .lower_left_container .row h1 {
  height: 80px;
  width: 140px;
  background-color: white;
  color: #0F0BC7;
  border-radius: 50%;
  text-align: center;
  padding: 15px 0;
  margin: 0 50px 0 0;
  font-weight: 700;
  font-size: 36px;
}
#customer .lower_container .lower_left_container .row .same h3 {
  font-size: 26px;
  font-weight: 700;
  color: white;
  margin: 0 0 5px 0;
}
#customer .lower_container .lower_left_container .row .same p {
  font-size: 19px;
  font-weight: 400;
  color: white;
}
#customer .lower_container .lower_right_container img {
  width: 100%;
}

#pricing {
  position: absolute;
  top: 4650px;
  left: 15%;
  right: 15%;
}
#pricing .top_grid_container h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 150px 0;
}
#pricing .switch {
  position: relative;
  border-radius: 25px;
  left: 40%;
  top: -80px;
}
#pricing .switch input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  outline: none;
}
#pricing .switch input:hover {
  cursor: pointer;
}
#pricing .switch input::before, #pricing .switch input::after {
  z-index: 2;
  position: absolute;
  top: -9px;
  transform: translateY(-50%);
}
#pricing .switch input::before {
  content: "Monthly";
  left: 20px;
}
#pricing .switch input::after {
  content: "Annualy";
  right: 20px;
}
#pricing .switch input:checked {
  background-color: rgb(229, 229, 229);
}
#pricing .switch label {
  z-index: 1;
  position: absolute;
  top: -30px;
  bottom: 9px;
  left: 5px;
  border-radius: 50px;
}
#pricing .switch input {
  transition: 0.25s;
}
#pricing .switch input:checked::after, #pricing .switch input:checked::before {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
#pricing .switch input:checked + label {
  left: 10px;
  right: 100px;
  transition: left 0.5s, right 0.4s 0.2s;
}
#pricing .switch input:checked + label {
  left: 10px;
  right: 100px;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  transform: left 0.5s, right 0.4s 0.2s;
}
#pricing .switch input:not(:checked) {
  background-color: rgb(229, 229, 229);
  transition: background 0.4s;
}
#pricing .switch input:not(:checked)::before {
  color: rgb(0, 0, 0);
  transition: color 0.5s;
}
#pricing .switch input:not(:checked)::after {
  color: rgb(255, 255, 255);
  transition: color 0.5s 0.2s;
}
#pricing .switch input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}
#pricing .bottom_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 640px;
  gap: 20px;
}
#pricing .bottom_grid_container hr {
  margin: 10px 5px 20px 0;
}
#pricing .bottom_grid_container .left_grid_container {
  grid-column: 1/2;
}
#pricing .bottom_grid_container .center_grid_container {
  grid-column: 2/3;
}
#pricing .bottom_grid_container .right_grid_container {
  grid-column: 3/4;
}
#pricing .bottom_grid_container .grid_container {
  display: flex;
  flex-direction: column;
  padding: 45px 20px;
  border-radius: 15px;
  max-height: 650px;
  background: #FFFFFF;
}
#pricing .bottom_grid_container .grid_container .top {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  line-height: 55px;
}
#pricing .bottom_grid_container .grid_container .top h4 {
  font-size: 24px;
  font-weight: 700;
}
#pricing .bottom_grid_container .grid_container .top h1 {
  font-size: 56px;
  font-weight: 700;
  text-align: start;
  color: #0F0BC7;
}
#pricing .bottom_grid_container .grid_container .top h1 span {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 385px;
  color: #000000;
}
#pricing .bottom_grid_container .grid_container .top p {
  font-size: 16px;
  font-weight: 400;
}
#pricing .bottom_grid_container .grid_container .top div {
  display: flex;
  line-height: 15px;
  margin: 10px 0;
}
#pricing .bottom_grid_container .grid_container .top div i {
  margin: 0 5px;
  height: 20px;
  width: 20px;
}
#pricing .bottom_grid_container .grid_container .top h6 {
  font-size: 14px;
  font-weight: 500;
}
#pricing .bottom_grid_container .grid_container .btnn {
  justify-self: end;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
#pricing .bottom_grid_container .grid_container .btnn button {
  width: 205px;
  height: 60px;
  border-radius: 65px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  color: #ffffff;
  transition: ease 0.3s;
}
#pricing .bottom_grid_container .grid_container .btnn button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#pricing .bottom_grid_container .center_grid_container {
  background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
  color: white;
}
#pricing .bottom_grid_container .center_grid_container .top h1 {
  color: white;
}
#pricing .bottom_grid_container .center_grid_container .top h1 span {
  color: white;
}
#pricing .bottom_grid_container .center_grid_container .btnn button {
  background: white;
  color: #0D03C3;
}

#aboutus {
  position: absolute;
  top: 5750px;
  left: 15%;
  right: 15%;
}
#aboutus h1 {
  text-align: center;
  padding: 0 0 45px 0;
  font-size: 50px;
  font-weight: 700;
}
#aboutus .grid_container_people {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 360px;
  gap: 20px;
}
#aboutus .grid_container_people .container_people {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 25px;
  border-radius: 15px;
  background: #FFFFFF;
}
#aboutus .grid_container_people .container_people p {
  align-self: center;
  font-size: 18px;
  font-weight: 500;
}
#aboutus .grid_container_people .container_people .bottom {
  display: flex;
}
#aboutus .grid_container_people .container_people .bottom img {
  height: 48px;
  margin: 0 15px 0 0;
}
#aboutus .grid_container_people .container_people .bottom .info {
  margin: 5px 0 0 0;
}
#aboutus .grid_container_people .container_people .bottom h3 {
  font-size: 16px;
  font-weight: 700;
}
#aboutus .grid_container_people .container_people .bottom .town {
  font-size: 14px;
  font-weight: 400;
}

#footer {
  position: absolute;
  top: 6500px;
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
  width: 100%;
  height: 850px;
  background-color: #040335;
  color: white;
}
#footer .section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  text-align: center;
  border-bottom: 1px solid #222242;
}
#footer .section_1 h1 {
  font-size: 60px;
  font-weight: 800;
  margin: 30px 0 30px 0;
}
#footer .section_1 button {
  height: 65px;
  width: 225px;
  border-radius: 50px;
  border: none;
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 700;
  color: #0F0BC7;
  transition: ease 0.3s;
}
#footer .section_1 button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#footer .section_2 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  grid-row: 2/3;
  border-bottom: 0.5px solid #222242;
}
#footer .section_2 .section_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0 0 0 10%;
}
#footer .section_2 .section_left h3 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}
#footer .section_2 .section_left p {
  font-size: 18px;
  font-weight: 400;
}
#footer .section_2 .section_right {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 0;
}
#footer .section_2 .section_right .col_1 {
  display: flex;
  flex-direction: column;
  line-height: 45px;
  margin: 0 0 0 100px;
}
#footer .section_2 .section_right .col_1 h3 {
  font-size: 20px;
  font-weight: 600;
}
#footer .section_2 .section_right .col_1 a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
#footer .section_3 {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .section_3 p {
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */